/* Debug utilities (supposed to be used only during development) */
.fg-debug-border-red {
  outline: 1px solid red;
  outline-offset: -1px;
}

.fg-debug-border-blue {
  outline: 1px solid blue;
  outline-offset: -1px;
}

/* Hover dropdowns. Usage (`sizing-class` is some class that defines items size):
    <div class="fg-dropdown">
        <element>[hoverable content]</element>
        <div class="fg-dropdown-content fg-dropdown-content-rt">
          <div class="fg-dropdown-box fg-dropdown-box-rt">
            <element>[dropdown content]</element>
            <div class="fg-dropdown-vertical-spacer"></div>
            <element>[dropdown content]</element>
            <div class="fg-dropdown-vertical-spacer"></div>
            <element>[dropdown content]</element>
          </div>
        </div>
    </div>
*/
.fg-dropdown {
  position: relative;
  overflow: hidden;
}
.fg-dropdown:hover {
  overflow: visible;
}
.fg-dropdown-content {
  position: absolute;
  z-index: 4;
  white-space: nowrap;
}
.fg-dropdown-content-rt {
  right: 0;
  top: 100%;
}
.fg-dropdown-content-lb {
  left: 0;
  bottom: 100%;
}

/* Toolbar */
.fg-toolbar {
  padding: 4px;
  box-sizing: border-box;
}

.fg-node-bar {
  position: relative;
  box-sizing: border-box;
  height: 18px;
  border: 1px solid black;
  transition-property: opacity;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

.fg-node-bar-background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0;
  height: 100%;
  transition-property: width background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

.fg-node-bar-content {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0 4px 0 4px;
  white-space: nowrap;
  font-size: 12px;
  font-family: Verdana;
  font-weight: 400;
  line-height: 1.5;
  text-overflow: ellipsis;
  text-align: left;
  color: black;
}

/* Buttons */
.fg-btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  cursor: pointer;
  color: #24292e;
  border: 1px solid rgba(27, 31, 35, .2);
  border-radius: .25em;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
  background-color: #eff3f6;
  background-size: 110% 110%;
  background-position: -1px -1px;
  background-repeat: repeat-x;
  vertical-align: middle;
  /* Size specific properties */
  font-size: 14px;
  line-height: 20px;
  padding: 6px 12px;
}

.fg-btn .fg-icon {
  vertical-align: text-top;
}

.fg-btn:hover {
  border-color: rgba(27, 31, 35, .35);
  background-image: linear-gradient(-180deg, #f0f3f6, #e6ebf1 90%);
  background-position: -.5em;
  background-color: #e6ebf1;
  text-decoration: none;
}

.fg-btn:focus {
  outline: 0;
  box-shadow: 0 0 0 .2em rgba(3, 102, 214, .3);
}

.fg-btn:disabled {
  cursor: default;
  color: rgba(36, 41, 46, .4);
  border-color: rgba(27, 31, 35, .2);
  background-image: none;
  background-position: 0 0;
  background-color: #eff3f6;
  box-shadow: none;
}

.fg-btn:active {
  border-color: rgba(27, 31, 35, .35);
  background-image: none;
  background-color: #e9ecef;
  box-shadow: inset 0 .15em .3em rgba(27, 31, 35, .15)
}

.fg-btn-sm {
  font-size: 11px;
  line-height: 14px;
  padding: 2px 8px
}

.fg-input {
  color: #24292e;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  padding: 2px 6px;
  box-shadow: inset 0 1px 2px rgba(27,31,35,.075);
  vertical-align: middle;
  font-size: 12px;
  line-height: 18px;
}

.fg-input-mono {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
}

/* Tabs */
.fg-deck-tab {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 4px;
  font-size: 16px;
  line-height: 17px;
}

.fg-deck-tab-plus {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: middle;
  padding: 2px;
  margin: 0 4px 0 4px;
}

.fg-deck-tab-title {
  display: inline-block;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 22px 0 4px;
  max-width: 250px;
}

.fg-deck-tab-btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  vertical-align: middle;
  box-sizing: content-box;
  border-radius: 2px;
  padding: 2px 4px 2px 4px;
  width: 12px;
  height: 16px;
}

.fg-deck-tab .fg-deck-tab-btn {
  visibility: hidden;
}

.fg-deck-tab:hover .fg-deck-tab-btn {
   visibility: visible;
}

.fg-deck-tab .fg-deck-tab-btn:hover {
  background-color: rgba(27,31,35,.08);
}

.fg-deck-tab .fg-deck-tab-btn:active {
  background-color: rgba(27,31,35,.16);
}

.fg-tooltip {
  font-family: Verdana;
  font-size: 12px;
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.fg-tooltip-header {
  font-family: monospace;
}

.fg-tooltip-body {
  padding: 4px;
}

.fg-tooltip-footer {
  display: flex;
  justify-content: space-between;
}

.fg-tooltip-hint {
  font-size: 8px;
  text-align: right;
  margin-left:1rem;
  overflow: hidden;
  align-self: flex-end;
}
.fg-tooltip .fg-tooltip-hint-mouse-in {
  visibility: hidden;
  height: 0;
}
.fg-tooltip:hover .fg-tooltip-hint-mouse-in {
  visibility: visible;
  height: auto;
}
.fg-tooltip:hover .fg-tooltip-hint-mouse-out {
  visibility: hidden;
  height: 0;
}

.fg-split-handle {
  flex-basis: 4px;
  border: 1px solid #e1e4e8;
  border-top: 0px;
  border-bottom: 0px;
}

.fg-node {
  position: absolute;
  overflow: hidden;
  box-sizing: border-box;
  left: 0;
  top: 0;
  height: 18px;
  border: 1px solid white;
  padding: 0 4px 0 4px;

  transition-property: left, top, width;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  will-change: left, top, width;

  white-space: nowrap;
  font-size: 12px;
  font-family: Verdana;
  font-weight: 400;
  line-height: 1.5;
  text-overflow: ellipsis;
  text-align: left;
  color: black;
}

.fg-node:hover {
  border: 1px solid black;
  /* cursor: pointer; */
}

.fg-node:hover {
  text-overflow: clip;
  /* cursor: pointer; */
}

.fg-tiny {
  padding: 0;
}

/* Other */
.fg-nsel {
  opacity: 0.25;
}

/* Node is on path from focused node to the root. */
.fg-fc2 {
  background-image: repeating-linear-gradient(135deg,
    rgba(0, 0, 256, 0.2), rgba(0, 0, 256, 0.2) 6px,
    transparent 6px, transparent 18px,
    rgba(0, 0, 256, 0.2) 18px, rgba(0, 0, 256, 0.2) 24px);
}

/* Node is focused. */
.fg-fc3 {
  background-image: repeating-linear-gradient(135deg,
    rgba(0, 0, 256, 0.2), rgba(0, 0, 256, 0.2) 6px,
    transparent 6px, transparent 18px,
    rgba(0, 0, 256, 0.2) 18px, rgba(0, 0, 256, 0.2) 24px);
}

/* Node is marked. */
.fg-mk1 {
  border: 1px solid #0751B9;
  box-shadow: inset 0 2px #0751B9;
}

/* Node has a marked descendant that is not visible (e.g. too small). */
.fg-mk2 {
  border: 1px solid #7B42B1;
  box-shadow: inset 0 -2px #7B42B1;
}

/* Node is marked AND has a marked descendant that is not visible. */
.fg-mk3 {
  border: 1px solid #0751B9;
  box-shadow: inset 0 2px #0751B9;
  box-shadow: inset 0 -2px #7B42B1;
}

/* Node is highlighted. */
.fg-hl1 {
  border: 1px solid #0751B9;
  box-shadow: inset 0 2px #0751B9;
}

/* Node has a descendant that is not visible but should be highlighted (e.g. too small). */
.fg-hl2 {
  border: 1px solid #7B42B1;
  box-shadow: inset 0 -2px #7B42B1;
}

/* Node is highlighted AND has a descendant that is not visible but should be highlighted. */
.fg-hl3 {
  border: 1px solid #0751B9;
  box-shadow: inset 0 2px #0751B9;
  box-shadow: inset 0 -2px #7B42B1;
}
