.flamegraph {
  position: relative;
  width: 100%;
}

.flamegraph .nodes, .nodes-space {
  position: relative;
}

.flamegraph .node, .node-sm {
  position: absolute;
  overflow: hidden;
  box-sizing: border-box;
  left: 0;
  top: 0;
  height: 18px;
  border: 1px solid white;

  transition-property: left, top, width;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

.flamegraph .node {
  padding: 0 4px 0 4px;
  white-space: nowrap;
  font-size: 12px;
  font-family: Verdana;
  font-weight: 400;
  line-height: 1.5;
  text-overflow: ellipsis;
  text-align: left;
  color: black;
}

.flamegraph .node:hover, .node-sm:hover {
    border: 1px solid black;
    cursor: pointer;
}

/* Node is on path from focused node to the root. */
.flamegraph .fg-fc2 {
  opacity: 0.5;
}

/* Node is focused. */
.flamegraph .fg-fc3 {
  opacity: 0.8;
  z-index: 1;
  box-shadow: 0 0 0 1px black;
}

/* Node is marked. */
.flamegraph .fg-mk1 {
  border: 1px solid #0751B9;
  box-shadow: inset 0 2px #0751B9;
}

/* Node has a marked descendant that is not visible (e.g. too small). */
.flamegraph .fg-mk8 {
  border: 1px solid #7B42B1;
  box-shadow: inset 0 -2px #7B42B1;
}

/* Node is marked AND has a marked descendant that is not visible. */
.flamegraph .fg-mk9 {
  border: 1px solid #0751B9;
  box-shadow: inset 0 2px #0751B9;
  box-shadow: inset 0 -2px #7B42B1;
}

/* Node is highlighted. */
.flamegraph .fg-hv1 {
  border: 1px solid #0751B9;
  box-shadow: inset 0 2px #0751B9;
}

/* Node has a descendant that is not visible but should be highlighted (e.g. too small). */
.flamegraph .fg-hv8 {
  border: 1px solid #7B42B1;
  box-shadow: inset 0 -2px #7B42B1;
}

/* Node is highlighted AND has a descendant that is not visible but should be highlighted. */
.flamegraph .fg-hv9 {
  border: 1px solid #0751B9;
  box-shadow: inset 0 2px #0751B9;
  box-shadow: inset 0 -2px #7B42B1;
}

.flamegraph .tip {
  display: none;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  font-family: Verdana;
  font-size: 12px;
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.flamegraph .search {
  display: none;
  margin-bottom: 8px;
}